.array-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  /* padding-left: 650px; */
  padding-top: 280px;
  position: absolute;
  width: 100%;
}

.input-container {
  margin-top: 33rem;
  padding-left: 650px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: fixed;

}

.array-bar {
  background-color: turquoise;
  color: turquoise;
  width: 2px;
  margin: 2px;
  padding-left: 10px;
}

.moving {
  background-color: red;
}

* {
  margin: 0%;
}