.array-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding-top: 280px;
  position: absolute;
  width: 100%;
}
.color-black{
  color: black;
  font-size: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.input-container {
  margin-top: 33rem;
  padding-left: 650px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: fixed;

}

.array-bar {
  background-color: turquoise;
  color: turquoise;
  width: 2px;
  margin: 2px;
  padding-left: 10px;
}

.moving {
  background-color: red;
}



.custom-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 300px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  outline: none;
}
.custom-overlay {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button {
  background: #e74c3c;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  float: right;
  border-radius: 5px;
}
